div#tabs {
    height: 30px;
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
}
div.htabs a {
    margin-right: 100px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    color:white;

}
.selectedTabs{
    color: #fff;
    background-color: #31b0d5 !important;
    border-color: #269abc !important;
}
.downTabs {
    margin-top: 20px;
}
.raportTable{
    width: 100%;
}
div#tab-city h3 {
    margin-left: 20px;
    margin-top: 40px;
}
#tab-instant h3 {
    margin-left: 20px;
    margin-top: 40px;
}
 #tab-fio  h3 {
    margin-left: 20px;
    margin-top: 40px;
}